$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  text-align: center;
}



h1 {
  padding-bottom: 10px;
}

.content {
  display: none;
}

.edit-wine {
  display: none;
}

.auth-message {
  text-align: center;
}

.auth-event {
  display: inline;
}

.main-page {
  display: none;
}

#top-message {
  display: none;
}

#change-password-message {
  display: none;
}

ul {
  list-style: none;
}

.footer {
  display: inline-block;
  padding-top: 250px;
}





// #change-password {
//   display: inline;
// }
//
// #sign-out {
//   display: inline;
// }
