$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

.content {
  display: none;
}

.edit-wine {
  display: none;
}

.auth-message {
  text-align: center;
}

.main-page {
  display: none;
}

#top-message {
  display: none;
}

#change-password-message {
  display: none;
}
